
$color: #5cb85c;
.header{
  color: $color;
}
body,html{
  color: #505050;
    line-height: 1.75em;
    background: #ebebeb;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}
.post {
  padding: 30px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  margin-bottom: 35px;

  .post-head {
    text-align: center;
    .post-title {
      margin: 0;
      font-size: 2.5em;
      line-height: 1em;
      a {
        color: #303030;
        text-decoration: none;
      }
    }

    .post-meta{
      color: #959595;
      margin: 14px 0 0;
      .author {
        margin: 0 7px;
        white-space: nowrap;
        a{
          color: #e67e22;
          text-decoration: none;
        }
        a:hover{
          text-decoration: underline;
        }
      }
    }
  }
  .post-content{
    padding: 30px 0;
    font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    color: #444443;
    text-overflow: ellipsis;
  }
  .post-button{
    a {
      border: 1px solid #e67e22;
      background: #e67e22;
      color: #ffffff;
      padding: 7px 14px;
      border-radius: 2px;
      text-decoration: none;
    }
  }

  .post-footer {
    border-top: 1px solid #ebebeb;
    padding: 20px 0 0;
    margin: 20px 0 0 ;
    text-align: right;
  }


 .hidden{
   display: none
 }
  .post-footer {
    margin-top: 30px;
    border-top: 1px solid #ebebeb;
    padding: 21px 0 0;
  }
}
.avatar {
  width: 40px;
  height: 40px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  margin: 0 10px;
}

.comment-author{
  color:#303030;
  font-size: 12px;
  font-weight: 100;
  margin-right: 10px
}
.align-right{
  text-align: right;
}
